.ui-panelgrid tr, .ui-panelgrid td {
    border:0 !important;
}

.ui-widget-header {
    border:0 !important;
}

.ui-panel .ui-panel-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 5px;
}

.ui-widget {
    font-size: 14px !important
}

#content {
    clear: left;
    position: relative;
    margin: 0 auto;
    width: 80%;
}

#coinAmount {
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel {
    margin-top: 25px;
    margin-bottom: 15px;
}

.logout {
    color: #7eafe9;
    float: right;
}

.tableStyle {
    margin-top: 20px;
}

tr.requestor {
    background-color: white !important;
    background-image: none !important;
}

tr.solver {
    background-color: #d9dfed !important;
    background-image: none !important;
}


